# Ignore Terraform state files
terraform.tfstate*
*.tfstate*

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore .terraform directory
.terraform/

# Ignore files and directories generated during Terraform execution
*.plan
*.tfvars

# Ignore .terraform directory from submodules
**/.terraform

# Ignore Ansible configuration and inventory files
/home/administrator/Documents/Pete4DevOps/ProjectScenario/Team Peterson/Docker&Ansible_files/ansible.cfg
/home/administrator/Documents/Pete4DevOps/ProjectScenario/Team Peterson/Docker&Ansible_files/inventory

#ignoring folder i improperly downloaded
/home/administrator/Documents/Pete4DevOps/ProjectScenario/Team Peterson/Docker&Ansible_files/Combinator/tolbert
/home/administrator/Documents/Pete4DevOps/ProjectScenario/Team Peterson/Docker&Ansible_files/Combinator/vu